.mj-message-wrapper {
  position: fixed;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 40px 0;
  top: 0;
  .mj-message-row {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    .mj-message {
      max-width: 100%;
      display: flex;
      padding: 8px 16px;
      font-size: 12px;
      line-height: 16px;
      color: #333;
      pointer-events: all;
      border-radius: 2px;
      box-shadow: 0 0 9px 3px rgba($color: #000000, $alpha: 0.1);
      align-items: start;
      background-color: #fff;
      .mj-messsage-icon {
        margin-right: 8px;
        flex: 0;
        .mj-icon {
          width: 16px;
          height: 16px;
          vertical-align: top;
        }
      }
      .mj-message-content {
        flex: 1;
      }
    }
  }
}
