:root {
  $colorPrimary-1: #e2e9ff;
  $colorPrimary-2: #b9ccff;
  $colorPrimary-3: #90b3ff;
  $colorPrimary-4: #679cff;
  $colorPrimary-5: #3e88ff;
  $colorPrimary-6: #1677ff;
  $colorPrimary-7: #0765d8;
  $colorPrimary-8: #0056b2;
  $colorPrimary-9: #00488c;
  $colorPrimary-10: #003866;

  $colorPrimaryBg: $colorPrimary-1;
  $colorPrimaryBgHover: $colorPrimary-2;
  $colorPrimaryBorder: $colorPrimary-3;
  $colorPrimaryBorderHover: $colorPrimary-4;
  $colorPrimaryHover: $colorPrimary-5;
  $colorPrimary: $colorPrimary-6;
  $colorPrimaryActive: $colorPrimary-7;
  $colorPrimaryTextHover: $colorPrimary-5;
  $colorPrimaryText: $colorPrimary-6;
  $colorPrimaryTextActive: $colorPrimary-7;
  $colorSuccess-1: #f0ffed;
  $colorSuccess-2: #c9f7be;
  $colorSuccess-3: #a4ea8f;
  $colorSuccess-4: #84dd64;
  $colorSuccess-5: #68d03d;
  $colorSuccess-6: #52c41a;
  $colorSuccess-7: #419d0d;
  $colorSuccess-8: #317703;
  $colorSuccess-9: #225100;
  $colorSuccess-10: #132b00;

  $colorSuccessBg: $colorSuccess-1;
  $colorSuccessBgHover: $colorSuccess-2;
  $colorSuccessBorder: $colorSuccess-3;
  $colorSuccessBorderHover: $colorSuccess-4;
  $colorSuccessHover: $colorSuccess-5;
  $colorSuccess: $colorSuccess-6;
  $colorSuccessActive: $colorSuccess-7;
  $colorSuccessTextHover: $colorSuccess-5;
  $colorSuccessText: $colorSuccess-6;
  $colorSuccessTextActive: $colorSuccess-7;
  $colorWarning-1: #fff9e0;
  $colorWarning-2: #fff0b7;
  $colorWarning-3: #ffe48e;
  $colorWarning-4: #ffd565;
  $colorWarning-5: #ffc43d;
  $colorWarning-6: #faad14;
  $colorWarning-7: #d38806;
  $colorWarning-8: #ad6700;
  $colorWarning-9: #874c00;
  $colorWarning-10: #613300;

  $colorWarningBg: $colorWarning-1;
  $colorWarningBgHover: $colorWarning-2;
  $colorWarningBorder: $colorWarning-3;
  $colorWarningBorderHover: $colorWarning-4;
  $colorWarningHover: $colorWarning-5;
  $colorWarning: $colorWarning-6;
  $colorWarningActive: $colorWarning-7;
  $colorWarningTextHover: $colorWarning-5;
  $colorWarningText: $colorWarning-6;
  $colorWarningTextActive: $colorWarning-7;
  $colorError-1: #fff2f2;
  $colorError-2: #fff0f0;
  $colorError-3: #ffc7c8;
  $colorError-4: #ff9ea0;
  $colorError-5: #ff7578;
  $colorError-6: #ff4d4f;
  $colorError-7: #d8363d;
  $colorError-8: #b2242f;
  $colorError-9: #8c1522;
  $colorError-10: #660a17;

  $colorErrorBg: $colorError-1;
  $colorErrorBgHover: $colorError-2;
  $colorErrorBorder: $colorError-3;
  $colorErrorBorderHover: $colorError-4;
  $colorErrorHover: $colorError-5;
  $colorError: $colorError-6;
  $colorErrorActive: $colorError-7;
  $colorErrorTextHover: $colorError-5;
  $colorErrorText: $colorError-6;
  $colorErrorTextActive: $colorError-7;

  $colorLinkHover: $colorPrimary-4;
  $colorLinkActive: $colorPrimary-7;
  --mj-color-primary-bg: $colorPrimaryBg;
  --mj-color-primary-bg-hover: $colorPrimaryBgHover;
  --mj-color-primary-border: $colorPrimaryBorder;
  --mj-color-primary-border-hover: $colorPrimaryBorderHover;
  --mj-color-primary-hover: $colorPrimaryHover;
  --mj-color-primary: $colorPrimary;
  --mj-color-primary-active: $colorPrimaryActive;
  --mj-color-primary-text-hover: $colorPrimaryTextHover;
  --mj-color-primary-text: $colorPrimaryText;
  --mj-color-primary-text-active: $colorPrimaryTextActive;
  --mj-color-success-bg: $colorSuccessBg;
  --mj-color-success-bg-hover: $colorSuccessBgHover;
  --mj-color-success-border: $colorSuccessBorder;
  --mj-color-success-border-hover: $colorSuccessBorderHover;
  --mj-color-success-hover: $colorSuccessHover;
  --mj-color-success: $colorSuccess;
  --mj-color-success-active: $colorSuccessActive;
  --mj-color-success-text-hover: $colorSuccessTextHover;
  --mj-color-success-text: $colorSuccessText;
  --mj-color-success-text-active: $colorSuccessTextActive;
  --mj-color-warning-bg: $colorWarningBg;
  --mj-color-warning-bg-hover: $colorWarningBgHover;
  --mj-color-warning-border: $colorWarningBorder;
  --mj-color-warning-border-hover: $colorWarningBorderHover;
  --mj-color-warning-hover: $colorWarningHover;
  --mj-color-warning: $colorWarning;
  --mj-color-warning-active: $colorWarningActive;
  --mj-color-warning-text-hover: $colorWarningTextHover;
  --mj-color-warning-text: $colorWarningText;
  --mj-color-warning-text-active: $colorWarningTextActive;
  --mj-color-error-bg: $colorErrorBg;
  --mj-color-error-bg-hover: $colorErrorBgHover;
  --mj-color-error-border: $colorErrorBorder;
  --mj-color-error-border-hover: $colorErrorBorderHover;
  --mj-color-error-hover: $colorErrorHover;
  --mj-color-error: $colorError;
  --mj-color-error-active: $colorErrorActive;
  --mj-color-error-text-hover: $colorErrorTextHover;
  --mj-color-error-text: $colorErrorText;
  --mj-color-error-text-active: $colorErrorTextActive;
  --mj-color-link-hover: $colorLinkHover;
  --mj-color-link-active: $colorLinkActive;
}
